.contents {
  height: 100vh;
  background-image: image-url('gazo1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.6;
  &__main{
    height: 100vh;
    width: 100%;
      &--name{
        width: 60%;
        height: 70px;
        color:adjust-hue($color: white, $degrees: 100deg);
        font-size: 45px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 200px;
        padding-top: 300px;
      }
      &--login {
        display: flex;
        .message{
          color:adjust-hue($color: white, $degrees: 100deg);
          font-size: 45px;
          margin: 0 auto;
          height: 45%;
        }
        .registration{
          color:adjust-hue($color: white, $degrees: 100deg);
          font-size: 45px;
          margin: 0 auto;
          height: 45%;
        
        }
      } 
  }
}